/*@font-face {*/
/*    font-family: Crayon;*/
/*    src: url("public/font/DkCoolCrayon-xJyV.ttf");*/
/*}*/

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0;
}

main {
    margin-left: 10vw;
    font-family: "Crayon", sans-serif;
    color: red;
    width: 80vw;
    height: 1000vh;
    z-index: 99;
    position: absolute;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    font-size: 4vh;
}

#info {
    text-shadow: black 4px 4px 2px;
    padding-top: 25vh;
    font-size: 7vh;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    display: block;
}

#first-section {
    text-align: center;
    margin-top: 45vh;
    font-size: 4vh;
}

section {
    text-outline: orange 10px;
    text-shadow: black 4px 4px 2px;
    min-height: 300vh;
    padding: 20px;
    font-size: 7vh;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
}
